html, button{
    font: 500 5rem/1.5 var(--ff-base);
}

h1,h2{
    font-family: var(--syne);
}

h1{
    line-height: 2.2;
}

h2{
    line-height: 1.2;
}

a{
    color: inherit;
    text-decoration: none;
}