*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



html, button{
    font: 500 1rem/1.5 var(--montserrat);
}

h1,h2{
    font-family: var(--syne);
}

h1{
    line-height: 1.25;
    font-size: 4rem;
}

h2{
    line-height: 1.2;
    font-size: 2.5rem;
}

a{
    color: inherit;
    text-decoration: none;
}