html, button{
    font: 500 1rem/1.5 var(--ff-base);
}

h1,h2{
    font-family: var(--ff-syne)
}

h1{
    line-height: 1.25;
}

h2{
    line-height: 1.2;
}

a{
    color: inherit;
    text-decoration: none;
}